<ng-container [ngSwitch]="field.type">

  <!-- CHECKBOX -->
  <div *ngSwitchCase="0" class="checkbox-view">
    <mat-checkbox [formControl]="control" color='primary'>
      {{ field.name | sentenceCase }}
    </mat-checkbox>
  </div>

  <!-- DATEPICKER -->
  <mat-list-item *ngSwitchCase="1">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" [placeholder]="field.name | sentenceCase" [formControl]="control">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-list-item>

  <!-- SINGLE RADIO -->
  <mat-radio-group *ngSwitchCase="2" [formControl]="control">
    <mat-radio-button *ngFor="let option of field.options" [value]="option" color='primary'>
        {{ option | sentenceCase }}
    </mat-radio-button>
  </mat-radio-group>

  <!-- SELECT DROPDOWN -->
  <mat-list-item *ngSwitchCase="3">
  <mat-form-field>
    <mat-select [placeholder]="field.name | sentenceCase" [formControl]="control">
      <mat-option *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  </mat-list-item>

  <!-- SELECT LIST -->
  <mat-selection-list *ngSwitchCase="4" [formControl]="control" color='primary'>
      <mat-list-option mySelectionList *ngFor="let option of field.options" [value]="option" color='primary' checkboxPosition="before">
        {{ option }}
      </mat-list-option>
  </mat-selection-list>

  <!-- SLIDE TOGGLE -->
<ng-container *ngSwitchCase="5">
    <!-- <mat-list-item > -->
        <mat-slide-toggle matLine [formControl]="control" color='primary' class="checkbox-view">
          {{ field.name | sentenceCase }}
        </mat-slide-toggle>
    <!-- </mat-list-item> -->

    <div matLine *ngIf="field.children" style="padding-top: 7px;">
        <ng-container *ngFor="let child of field.children">
          <ad-field [field]="child" class="toggleChild"></ad-field>
        </ng-container>
    </div>
</ng-container>

  <!-- TEXTAREA -->
  <mat-list-item *ngSwitchCase="6">
    <mat-form-field>
      <textarea matInput type="text" [formControl]="control" [placeholder]="field.name | sentenceCase"></textarea>
    </mat-form-field>
  </mat-list-item>

<!-- TEXTFIELD -->
<mat-list-item *ngSwitchCase="7">
  <mat-form-field>
    <input matInput type="text" [formControl]="control" [placeholder]="field.name | sentenceCase">
  </mat-form-field>
</mat-list-item>

<!-- SUBHEADER -->
<div *ngSwitchCase="8" class="subheader">
    {{ field.name }}
</div>

<!-- DIVIDER -->
<ng-container *ngSwitchCase="9">
    <hr/>
</ng-container>

<mat-list-item *ngSwitchDefault>no field found</mat-list-item>
</ng-container>
